@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');
             
:root {
    --primary-color:  #FF6B35;
    --secondary-color: #004E89;
    --accent1-color: #F7C59F;
    --accent2-color: #1A659E;

    --heading-font: 'Crimson Pro', sans-serif;
    --paragraph-font: 'Crimson Pro', sans-serif;

    --nav-background-color: #F7C59F;
    --nav-link-color: #1A659E;
    --nav-hover-link-color: #FF6B35;
    --nav-hover-background-color: #004E89;
  }


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }

  p {
    padding: 25px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }

  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }

  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }

  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }


